<html>
    <head>
        <title>Angular Practice -2 </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="Js/angular.min.js">
        </script>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            First name <input type="text" ng-model="firstName"/><br/>
            Last name <input type="text" ng-model="lastName"/><br/>
            Full Name {{fullName()}}
        </div>
        
        <script>
            var app = angular.module('myApp',[]);
            app.controller('myCtrl',function($scope){
                $scope.firstName = "Santosh";
                $scope.lastName = "P";
                $scope.fullName = function(){
                    return $scope.firstName + $scope.lastName;
                };
            });
        </script>
    </body>
</html>
        