<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="namesCtrl">

<p>Looping with objects:</p>
<ul>
  <li ng-repeat="x in names | orderBy:'country'">
    {{ x.name + ', ' + x.country }}
  </li>
</ul>
<h1>Price: {{ price | currency }}</h1>

<ul>
  <li ng-repeat="x in names |filter:'i' ">
    {{ x }}
  </li>
</ul>

<p><input type="text" ng-model="test"></p>
<ul>
    <li ng-repeat="x in names| filter:test">
        {{x.name}}
    </li>
</ul>

<table border="1" width="50%">
    <th ng-click="orderByMe('name')">Name</th> 
    <th ng-click="orderByMe('country')">Country</th>
    
    <tr ng-repeat="x in names| orderBy:myOrderBy">
        <td>{{x.name}}</td>
        <td>{{x.country}}</td>
    </tr>
    
</table>

<ul >
  <li ng-repeat="x in other_names">
    {{x | myFormat}}
  </li>
</ul>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('namesCtrl', function($scope) {
    $scope.names = [
        {name:'Jani',country:'Norway'},
        {name:'Carl',country:'Sweden'},
        {name:'Margareth',country:'England'},
        {name:'Hege',country:'Norway'},
        {name:'Joe',country:'Denmark'},
        {name:'Gustav',country:'Sweden'},
        {name:'Birgit',country:'Denmark'},
        {name:'Mary',country:'England'},
        {name:'Kai',country:'Norway'}
        ];
    $scope.price = 58;
    
    $scope.orderByMe = function(x){
       $scope.myOrderBy = x; 
    };
    $scope.other_names = ['Jani', 'Carl', 'Margareth', 'Hege', 'Joe', 'Gustav', 'Birgit', 'Mary', 'Kai'];
});


app.filter('myFormat', function() {
  return function(x) {
    var i, c, txt = "";
    for (i = 0; i < x.length; i++) {
      c = x[i];
      if (i % 2 == 0) {
        c = c.toUpperCase();
      }
      txt += c;
    }
    return txt;
  };
});
</script>

</body>
</html>
