<!DOCTYPE html>
<html>
<script type="text/javascript" src="Js/angular.min.js"></script>
<body>

   <div ng-app="myApp" ng-controller="formCtrl">
        <form novalidate>
            First name <br/>
            <input type="text" ng-model="user.firstName"><br/>
            Last name <br/>
            <input type="text" ng-model="user.lastName"><br/>
            <br><br>
            <button ng-click="reset()">RESET</button>
            
            <p>form = {{user}}</p>
            <p>master = {{master}}</p>    
        </form>
        
    </div>
    <script>
        var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
  $scope.master = {firstName: "John", lastName: "Doe"};
  $scope.reset = function() {
    $scope.user = angular.copy($scope.master);
  };
  //$scope.reset();
});
    </script>
</body>
</html>
