<!DOCTYPE html>
<html>
<script src="Js/angular.min.js"></script>
<style>
    input.ng-invalid {
  background-color: pink;
}
input.ng-valid {
  background-color: lightgreen;
}

form.ng-pristine {
  background-color: lightblue;
}
form.ng-dirty {
  background-color: pink;
}
</style>

<body ng-app="">
<p>Try writing in the input field:</p>

<form name="myForm">
    <input name="myInput" ng-model="myInput" type="email" required><br>
<p>Name:
<input name="myName" ng-model="myName" required>
<span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The name is required.</span>
</p>


</form>

<p>The Email input's valid state is:</p>
<h1>{{myForm.myInput.$valid}}</h1>

</body>


</html>